.product{
    display: flex;
    border-bottom: 1px solid lightblue;
    padding:15px;
    margin-right: 15px;
}
.product h4{
    color:blue;
}
.product div {
    padding-right: 15px;
}
.product button {
    background-color: rgb(236, 236, 39);
    border-color: yellow;
    width: 150px;
    height: 30px;
}